Node Modules

node_modules/
backend/node_modules/
frontend/node_modules/

Secret Files (CRITICAL)

.env
backend/.env
firebaseServiceAccountKey.json
backend/firebaseServiceAccountKey.json

System files

.DS_Store

Frontend Next.js build files

frontend/.next/
frontend/out/
frontend/build/